# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.conda/

# Conda
environment.yaml
environment.yaml.lock

# Streamlit
.streamlit/cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log